        * {
            margin: 0;
            padding: 0;
        }
        
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
        html {
            scroll-behavior: smooth;
        }
        
        .container {
            /* width: 900px; */
            height: 100vh;
            background-color: #1e272e;
        }
        
        .grid {
            display: grid;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            row-gap: 20px;
            column-gap: 20px;
        }
        
        .grid-item {
            /* width: 50%; */
            height: 100px;
            background-color: white;
        }
        /* ============= Item 1 => */
        
        .item1 {
            grid-column-start: 1;
            grid-column-end: 4;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 80px;
            background: none;
            background-color: #1e272e;
            position: fixed;
            z-index: 10000;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
        
        .item1 .logo {
            width: 70px;
            height: 70px;
            background: rgba(231, 91, 221, 1.0);
            background: -webkit-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: -moz-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: radial-gradient(to top, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        
        .item1 .logo img {
            width: 90%;
            height: 90%;
            border-radius: 50%;
        }
        
        .item1 .mainlist {
            display: flex;
            list-style: none;
        }
        
        .item1 .mainlist li {
            padding: 2px;
        }
        
        .item1 .mainlist li a {
            text-decoration: none;
            color: white;
            letter-spacing: 1px;
            font-size: 18px;
            padding: 10px 20px;
            border-radius: 10px;
            font-family: sans-serif;
            transition: 0.3s ease-out;
        }
        
        .item1 .mainlist li .home {
            background: rgba(231, 91, 221, 1.0);
            background: -webkit-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: -moz-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: radial-gradient(to top, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
        }
        
        .item1 .mainlist li a:hover {
            transition: 0.3s ease-in;
            background: rgba(231, 91, 221, 1.0);
            background: -webkit-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: -moz-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: radial-gradient(to top, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
        }
        /* ====== Item2 ==> */
        
        .item2 {
            grid-column-start: 1;
            grid-column-end: 4;
            height: 100vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #1e272e;
        }
        
        .item2 .my_content {
            width: 80%;
            height: auto;
            position: relative;
            z-index: 1;
        }
        
        .item2 .my_content h1 {
            font-size: 40px;
            color: white;
            font-family: sans-serif;
        }
        /* == h2 */
        
        .item2 .my_content h2 {
            font-size: 40px;
            white-space: nowrap;
            overflow: hidden;
            animation: typewriter2 3s steps(28) infinite alternate, blink2 steps(28) infinite normal;
            border-right: 1px solid White;
            color: white;
            font-family: sans-serif;
        }
        
        @keyframes typewriter2 {
            from {
                width: 0%;
            }
            to {
                width: 91%;
            }
        }
        
        @keyframes blink2 {
            from {
                border-color: black;
            }
            to {
                border-color: transparent;
            }
        }
        
        .item2 .right-3D {
            width: 100%;
            height: auto;
            margin-left: -200px;
        }
        
        .item2 .right-3D img {
            width: 100%;
            height: auto;
        }
        
        .item2 .my_content .colorful {
            position: absolute;
            width: 400px;
            height: 400px;
            background: #4AF8EC;
            background: -webkit-linear-gradient(top left, #4AF8EC, #CC1AE4);
            background: -moz-linear-gradient(top left, #4AF8EC, #CC1AE4);
            background: linear-gradient(to bottom right, #4AF8EC, #CC1AE4);
            top: -10%;
            right: 45%;
            border-radius: 50%;
            z-index: -1;
        }
        /* Responsive */
        
        @media screen and (max-width:1100px) {
            .item2 .my_content {
                width: 100%;
            }
            .item2 .my_content h1,
            .item2 .my_content h2 {
                font-size: 30px;
                word-wrap: break-word;
            }
            .item2 .right-3D {
                margin-left: -100px;
            }
        }
        
        @media screen and (max-width:900px) {
            .item2 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                flex-direction: column;
            }
            .item2 .my_content {
                width: 100%;
                height: 100px;
                text-align: center;
            }
            .item2 .my_content h1,
            .item2 .my_content h2 {
                text-align: center;
                font-size: 30px;
                margin-left: 10%;
            }
            .item2 .my_content h2 {
                text-align: center;
                font-size: 30px;
                margin-left: 8%;
            }
            .item2 .right-3D {
                width: 60%;
                height: 700px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .item2 .right-3D img {
                width: 60%;
                height: 700px;
            }
            @keyframes typewriter2 {
                from {
                    width: 0%;
                }
                to {
                    width: 54%;
                }
            }
            .item1 {
                position: inherit;
            }
            .item2 {
                position: relative;
            }
            .item2 .my_content img {
                position: absolute;
                top: 10%;
                display: none;
                right: 2%;
            }
            .item2 .right-3D {
                margin-left: -54%;
                margin-top: -4%;
            }
            .item2 .right-3D {
                width: 100%;
                margin-left: 0px;
            }
            .item2 .right-3D img {
                width: 100%;
            }
        }
        
        @media screen and (max-width:740px) {
            .item1 .mainlist li a {
                padding: 6px;
            }
            .item1 {
                position: inherit;
            }
            .item2 {
                position: relative;
            }
            .item2 .my_content {
                width: 100%;
            }
            .item2 .my_content img {
                position: absolute;
                top: 10%;
                right: 2%;
            }
            .item2 .right-3D {
                margin-left: -54%;
                margin-top: -4%;
            }
            .item2 .my_content h2 {
                font-size: 20px;
            }
            @keyframes typewriter2 {
                from {
                    width: 0%;
                }
                to {
                    width: 42%;
                }
            }
            .item2 .right-3D {
                width: 100%;
                margin-left: 0px;
            }
            .item2 .right-3D img {
                width: 100%;
            }
        }
        
        @media screen and (max-width:600px) and (min-width:490px) {
            .item1 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 150px;
                position: inherit;
            }
            .item1 .logo {
                margin-bottom: 30px;
            }
            .item2 {
                position: relative;
            }
            .item2 .my_content img {
                position: absolute;
                top: 10%;
                right: 2%;
            }
            .item2 .right-3D {
                margin-left: -54%;
                margin-top: -14%;
            }
            .item2 .my_content {
                width: 100%;
            }
            .item2 .my_content h2 {
                font-size: 17px;
            }
            @keyframes typewriter2 {
                from {
                    width: 0%;
                }
                to {
                    width: 50%;
                }
            }
            .item2 .right-3D {
                width: 100%;
                margin-left: 0px;
            }
            .item2 .right-3D img {
                width: 100%;
            }
        }
        
        @media screen and (max-width:490px) {
            .item1 {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 110px;
                flex-direction: column;
                position: initial;
                height: auto;
            }
            .item1 .logo {
                margin: 30px;
            }
            .item1 .mainlist {
                margin-bottom: 10px;
            }
            .item1 .mainlist li a {
                font-size: 14px;
            }
            .item2 {
                position: relative;
            }
            .item2 .my_content img {
                position: absolute;
                top: 10%;
                right: 2%;
            }
            .item2 .right-3D {
                margin-left: -54%;
                margin-top: -14%;
            }
            .item2 .my_content {
                width: 100%;
            }
            .item2 .my_content h2 {
                font-size: 16px;
            }
            .item1 .mainlist li a {
                font-size: 14px;
            }
            .item1 .mainlist {
                flex-wrap: wrap;
            }
            .item2 .right-3D {
                width: 100%;
                margin-left: 0px;
            }
            .item2 .right-3D img {
                width: 100%;
            }
            .item2 .my_content img {
                position: absolute;
                top: 10%;
                right: 30%;
                display: none;
            }
            @keyframes typewriter2 {
                from {
                    width: 0%;
                }
                to {
                    width: 55%;
                }
            }
        }
        /* #About */
        
        #about {
            grid-column-start: 1;
            grid-column-end: 1;
            background-color: #1e272e;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        #about .left-container_about {
            width: 40%;
            height: auto;
        }
        
        #about .left-container_about img {
            width: 60%;
            height: auto;
        }
        
        #about .right-content {
            width: 70%;
            height: auto;
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            flex-wrap: wrap;
        }
        
        #about .right-content h1 {
            font-size: 152%;
            font-family: sans-serif;
            letter-spacing: 2px;
            padding: 20px;
            background: #4AF8EC;
            background: -webkit-linear-gradient(top left, #4AF8EC, #CC1AE4);
            background: -moz-linear-gradient(top left, #4AF8EC, #CC1AE4);
            background: linear-gradient(to bottom right, #4AF8EC, #CC1AE4);
            border-radius: 20px;
            margin: 20px;
        }
        
        #about .right-content p {
            font-size: 18px;
            font-family: sans-serif;
            color: rgba(255, 255, 255, 0.5);
            padding: 20px;
            line-height: 30px;
            background-color: #1e272e;
        }
        
        #about .right-content .para {
            padding: 10px;
            border-radius: 15px;
            background: #4AF8EC;
            background: -webkit-linear-gradient(top left, #4AF8EC, #CC1AE4);
            background: -moz-linear-gradient(top left, #4AF8EC, #CC1AE4);
            background: linear-gradient(to bottom right, #4AF8EC, #CC1AE4);
        }
        
        @media screen and (max-width:650px) {
            #about {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
            }
            #about .left-container_about {
                width: 100%;
                height: auto;
            }
            #about .right-content {
                width: 100%;
            }
        }
        /* Services */
        
        #services {
            grid-column-start: 1;
            grid-column-end: 1;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
            background-color: #1e272e;
        }
        
        #services .servicesbox {
            width: 46%;
            height: auto;
            background: #4AF8EC;
            background: -webkit-linear-gradient(top left, #4AF8EC, #CC1AE4);
            background: -moz-linear-gradient(top left, #4AF8EC, #CC1AE4);
            background: linear-gradient(to bottom right, #4AF8EC, #CC1AE4);
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            margin: 10px;
        }
        
        #services .servicesbox h1 {
            padding: 10px 20px;
            margin: 10px;
            font-size: 3rem;
            font-family: sans-serif;
            color: white;
            border-bottom: 3px solid white;
        }
        
        #services .servicesbox p {
            font-size: 18px;
            font-family: sans-serif;
            color: rgba(255, 255, 255, 0.8);
            padding: 50px;
            line-height: 30px;
        }
        
        #services .servicesbox a {
            position: relative;
            text-decoration: none;
            color: white;
            font-size: 17px;
            font-family: sans-serif;
            padding: 10px 20px;
            margin: 20px;
            border: 2px solid white;
            border-radius: 10px;
            z-index: 1;
            overflow: hidden;
        }
        
        #services .servicesbox a::before {
          content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    background: rgba(231, 91, 221, 1.0);
    background: black;
    border-radius: 10px;
    background: -moz-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
    background: radial-gradient(to top, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
    border: 10px;
    z-index: -1;
    transition: 0.3s;
        }
        
        #services .servicesbox a:hover::before {
            width: 100%;
            transition: 0.3s;
        }
        
        #services .servicesbox i {
            font-size: 25px;
            color: white;
            margin-left: -6%;
            position: relative;
            z-index: 1;
        }
        
        @media screen and (max-width:650px) {
            #services .servicesbox {
                width: 100%;
            }
        }
        /* #contact */
        
        #contact {
            grid-column-start: 1;
            grid-column-end: 1;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            background-color: #1e272e;
        }
        
        #contact .backgroundimage {
            width: 60%;
            height: auto;
            background: rgba(231, 91, 221, 1.0);
            background: -webkit-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: -moz-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: radial-gradient(to top, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            border-radius: 50%;
            margin: 20px;
        }
        
        #contact .backgroundimage img {
            width: 100%;
            margin-left: 100px;
        }
        
        #contact .contactform h1 {
            font-size: 2em;
            font-family: sans-serif;
            color: white;
            letter-spacing: 2px;
            margin: 50px;
            border-bottom: 4px solid #ee5253;
            width: 50%;
        }
        /* <<<<<<< HEAD */
        
        #contact .contactform {
            width: 70%;
            height: auto;
        }
        
        #contact .contactform form input {
            border: none;
            outline: none;
            padding: 10px 10px;
            width: 70%;
            margin-bottom: 20px;
            border: 2px solid transparent;
            background: White;
            border-radius: 10px;
        }
        
        #contact .contactform form input::placeholder {
            font-size: 16px;
            letter-spacing: 2px;
        }
        
        #contact .contactform form input:focus {
            border: 2px solid #ee5253;
        }
        
        #contact .contactform form .sbmt_btn {
            padding: 10px 0px;
            background: #ee5253;
            width: 70%;
            text-align: center;
            margin-top: 10px;
            font-size: 20px;
            font-weight: bolder;
            color: white;
            font-family: 'Noto Sans', sans-serif;
            font-variant: small-caps;
            cursor: pointer;
        }
        
        #contact .contactform form textarea {
            border: none;
            outline: none;
            padding: 10px 0px;
            width: 73%;
            margin-bottom: 20px;
            border: 2px solid transparent;
            background: White;
            border-radius: 10px;
        }
        
        #contact .contactform form textarea::placeholder {
            font-size: 16px;
            letter-spacing: 2px;
        }
        
        #contact .contactform form textarea:focus {
            border: 2px solid #ee5253;
        }
        
        #contact .contactform .socialmedia {
            width: 60%;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        #contact .contactform .socialmedia .mediabox {
            width: 40px;
            height: 40px;
            background: #ee5253;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 50%;
            transition: 0.3s;
            color: white;
            cursor: pointer;
        }
        
        #contact .contactform .socialmedia .mediabox a {
            text-decoration: none;
            color: white;
            font-size: 22px;
            transition: 0.3s;
        }
        
        #contact .contactform .socialmedia .mediabox:hover {
            transform: translateY(-20px);
            background: none;
            border: 2px solid #ee5253;
            transition: 0.3s;
        }
        
        @media screen and (max-width:800px) {
            #contact {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            #contact .backgroundimage {
                width: 70%;
            }
            #contact .backgroundimage img {
                margin-left: 0px;
            }
            #contact .contactform {
                width: 100vw;
                text-align: center;
            }
            #contact .contactform h1 {
                font-size: 1.6em;
            }
        }
        /* ========= Footer ====> */
        
        #footer {
            grid-column-start: 1;
            grid-column-end: 1;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: auto;
            padding: 20px;
            background-color: #1e272e;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }
        
        #footer h1 {
            font-size: 1.5em;
            font-family: sans-serif;
            color: rgba(255, 255, 255, 0.5);
        }
        
        #footer .mainlist {
            display: flex;
            list-style: none;
            flex-wrap: wrap;
        }
        
        #footer .mainlist li {
            padding: 2px;
            padding-bottom: 10px;
        }
        
        #footer .mainlist li a {
            text-decoration: none;
            color: white;
            letter-spacing: 1px;
            font-size: 18px;
            padding: 10px 20px;
            border-radius: 10px;
            font-family: sans-serif;
            transition: 0.3s ease-out;
        }
        
        #footer .mainlist li .home {
            background: rgba(231, 91, 221, 1.0);
            background: -webkit-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: -moz-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: radial-gradient(to top, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
        }
        
        #footer .mainlist li a:hover {
            transition: 0.3s ease-in;
            background: rgba(231, 91, 221, 1.0);
            background: -webkit-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: -moz-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: radial-gradient(to top, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
        }
        
        @media screen and (max-width:500px) {
            #footer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: auto;
            }
            #footer h1 {
                margin: 10px;
            }
        }
        /* Login Form */
        
        .item1 .mainlist .loginform {
            width: 30vw;
            height: 35vh;
            position: absolute;
            top: -600%;
            left: 30%;
            visibility: hidden;
            transition: 0.4s;
            border-radius: 10px;
            display: flex;
            justify-content: start;
            align-items: center;
            transition-delay: 0.2s;
        }
        
        .item1 .mainlist .loginform .login-1 {
            position: relative;
            width: 95%;
            height: 95%;
            background-color: #1e272e;
            border-radius: 10px;
            border: 2px solid rgba(255, 255, 255, 0.2);
            box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding: 10px;
        }
        
        .item1 .mainlist .loginform .login-1 h1 {
            text-align: center;
            font-size: 2em;
            position: absolute;
            color: white;
            font-family: sans-serif;
            margin: 20px;
            width: 30%;
            border-bottom: 5px solid #ee5253;
            top: 0%;
        }
        
        .item1 .mainlist .loginform .login-1 form {
            margin-left: -100px;
        }
        
        .item1 .mainlist .loginform .login-1 form input {
            padding: 6% 40% 6% 5%;
            margin-bottom: 30px;
            border: none;
            background: none;
            outline: none;
            border: 2px solid rgba(10, 189, 227, 1.0);
            border-radius: 10px;
            color: white;
            font-size: 15px;
            transition: 0.5s;
            position: relative;
        }
        
        .item1 .mainlist .loginform .login-1 form .fillform i {
            color: #4AF8EC;
            margin-left: -30px;
            transform: translateY(30px);
        }
        
        .item1 .mainlist .loginform .login-1 form .fillform .btns {
            width: 70%;
            display: flex;
            justify-content: space-between;
        }
        
        .item1 .mainlist .loginform .login-1 form .fillform button {
            padding: 5% 30%;
            cursor: pointer;
            border: none;
            background: none;
            border-radius: 20px;
            background: rgba(231, 91, 221, 1.0);
            background: -webkit-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: -moz-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: radial-gradient(to top, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            color: white;
            font-size: 16px;
            letter-spacing: 2px;
            margin: 10px;
        }
        
        .item1 .mainlist .active {
            visibility: visible;
            top: 300%;
            transition: 0.4s;
            transition-delay: 0.4s;
        }
        
        @media screen and (max-width:1300px) and (min-width:490px) {
            .item1 .mainlist .loginform {
                width: 40vw;
                height: 50vh;
            }
        }
        
        @media screen and (max-width:900px) {
            .item1 .mainlist .loginform {
                width: 400px;
                height: 350px;
                position: absolute;
                top: -600%;
                left: 10%;
            }
            .item1 .mainlist .active {
                visibility: visible;
                top: 30%;
                transition: 0.4s;
            }
            .item2 .my_content .colorful {
                display: none;
            }
        }
        
        @media screen and (max-width:490px) {
            .item1 .mainlist .loginform {
                width: 100%;
                height: 300px;
                position: absolute;
                top: -600%;
                left: 0%;
                background: none;
            }
            .item1 .mainlist .loginform .login-1 form input {
                padding: 6% 30% 6% 5%;
                margin-bottom: 10px;
            }
            .item1 .mainlist .active {
                visibility: visible;
                top: 30%;
                transition: 0.4s;
            }
            .item2 .my_content .colorful {
                display: none;
            }
        }
        /* signup form */
        
        .item1 .mainlist .signupform {
            width: 50vw;
            height: 55vh;
            position: absolute;
            top: -600%;
            left: 30%;
            visibility: hidden;
            transition: 0.4s;
            border-radius: 10px;
            display: flex;
            justify-content: start;
            align-items: center;
            transition-delay: 0.4s;
        }
        
        .item1 .mainlist .signupform .signup-1 {
            position: relative;
            width: 95%;
            height: 95%;
            background-color: #1e272e;
            border-radius: 10px;
            border: 2px solid rgba(255, 255, 255, 0.2);
            box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding: 10px;
        }
        
        .item1 .mainlist .signupform .signup-1 h1 {
            text-align: center;
            font-size: 2em;
            position: absolute;
            color: white;
            font-family: sans-serif;
            width: 30%;
            margin-top: 10px;
            margin-bottom: 40px;
            border-bottom: 5px solid #ee5253;
            top: 0%;
        }
        
        .item1 .mainlist .signupform .signup-1 form {
            margin-left: -100px;
        }
        
        .item1 .mainlist .signupform .signup-1 form input {
            padding: 6% 40% 6% 5%;
            margin-bottom: 30px;
            border: none;
            background: none;
            outline: none;
            border: 2px solid rgba(10, 189, 227, 1.0);
            border-radius: 10px;
            color: white;
            font-size: 15px;
            transition: 0.5s;
            position: relative;
        }
        
        .item1 .mainlist .signupform .signup-1 form .fillform i {
            color: #4AF8EC;
            margin-left: -30px;
            transform: translateY(30px);
        }
        
        .item1 .mainlist .signupform .signup-1 form .fillform .btns {
            width: 70%;
            display: flex;
            justify-content: space-between;
        }
        
        .item1 .mainlist .signupform .signup-1 form .fillform button {
            padding: 5% 30%;
            cursor: pointer;
            border: none;
            background: none;
            border-radius: 20px;
            background: rgba(231, 91, 221, 1.0);
            background: -webkit-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: -moz-radial-gradient(bottom, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            background: radial-gradient(to top, rgba(231, 91, 221, 1.0), rgba(61, 97, 254, 1.0));
            color: white;
            font-size: 16px;
            letter-spacing: 2px;
            margin: 10px;
        }
        
        .item1 .mainlist .signupactive {
            visibility: visible;
            top: 300%;
            transition: 0.4s;
        }
        
        @media screen and (max-width:1300px) and (min-width:490px) {
            .item1 .mainlist .signupform {
                width: 40vw;
                height: 60vh;
            }
        }
        
        @media screen and (max-width:900px) {
            .item1 .mainlist .signupform {
                width: 50vw;
                height: 55vh;
                position: absolute;
                top: -600%;
                left: 10%;
            }
            .item1 .mainlist .signupactive {
                visibility: visible;
                top: 30%;
                transition: 0.4s;
            }
            .item2 .my_content .colorful {
                display: none;
            }
        }
        
        @media screen and (max-width:490px) {
            .item1 .mainlist .signupform {
                width: 100%;
                height: 55vh;
                position: absolute;
                top: -600%;
                left: 0%;
                background: none;
            }
            .item1 .mainlist .signupform .signup-1 form input {
                padding: 6% 30% 6% 5%;
                margin-bottom: 10px;
            }
            .item1 .mainlist .signupactive {
                visibility: visible;
                top: 30%;
                transition: 0.4s;
            }
            .item2 .my_content .colorful {
                display: none;
            }
        }
        
        @media screen and (max-width:700px) and (min-width:490px) {
            .item1 .mainlist .signupform {
                width: 83vw;
                margin-left: 0%;
                height: 47vh;
            }
            .item1 .mainlist .signupform .signup-1 form input {
                padding: 6% 30% 6% 5%;
                margin-bottom: 10px;
            }
        }
        
        @media screen and (max-width:490px) {
            .item1 .mainlist .signupform {
                width: 83vw;
            }
        }
        
        @media screen and (max-width:420px) {
            .item1 .mainlist .signupform {
                width: 100%;
                height: 60vh;
            }
            .item1 .mainlist .signupform .signup-1 form .fillform {
                margin-left: 10%;
            }
            .item1 .mainlist .signupform .signup-1 form .fillform .btns {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 100px;
            }
        }
        /* ======= */
        
        @media screen and (max-width:490px) {
            .item1 .mainlist li a {
                font-size: 14px;
            }
            .item1 .mainlist {
                flex-wrap: wrap;
            }
        }
        /* >>>>>>> 9b8ea98617d1ad97e43616b37240c4353c4f9107 */
